.main {
  &__dashboard {
    width: 75%;
    @media (min-width: 760px) and (max-width: 1024px) {
      width: 100%;
    }
  }
  &__events {
    width: 25%;
    @media (min-width: 760px) and (max-width: 1024px) {
      margin-right: -40%;
      width: 40%;
    }
  }
}
